<div id="site-menu">
	<ul class="nav navbar-nav">
		<li class="sub">
			<a href="#" class="button">Menu 1</a>
			<ul class="subnav animated">
				<li><a href="#">Enlace 1.1</a></li>
				<li><a href="#">Enlace 1.2</a></li>
			</ul>
		</li>
		<li class="sub">
			<a href="#" class="button">Menu 2</a>
			<ul class="subnav animated">
				<li><a href="#">Enlace 2.1</a></li>
				<li><a href="#">Enlace 2.2</a></li>
			</ul>
		</li>
	</ul>
</div>
