{{> header}}
{{> menu}}
<div id="site-canvas">
	<div id="main" data-role="main">
        <div class="container">
    		<div class="top-wrapper clearfix">
    			<table border="0" style="border-collapse:collapse;border:0px solid #FFCC00;width:170px" cellpadding="3" cellspacing="3">
    				<tr><td>Reino:</td><td>Animalia</td></tr>
    				<tr><td>División:</td><td>Chordata</td></tr>
    				<tr><td>Superclase:</td><td>Osteichthyes</td></tr>
    				<tr><td>Clase:</td><td>Actinopterygii</td></tr>
    				<tr><td>Orden:</td><td>Perciformes</td></tr>
    				<tr><td>Familia:</td><td>Scaridae</td></tr>
    				<tr><td>Género:</td><td>Sparisoma</td></tr>
    			</table>
        	</div>
        </div>
	</div>
</div>
