<div class="layout">
	<div id="container">
		<div class='element xxl' style='background-color: red'><div class='cover'>11</div></div>
		<div class='element xl' style='background-color: blue'><div class='cover'>21</div></div>
		<div class='element xl' style='background-color: green'><div class='cover'>22</div></div>
		<div class='element l' style='background-color: yellow'><div class='cover'>12</div></div>
		<div class='element l' style='background-color: gray'><div class='cover'>12</div></div>
		<div class='element xxl' style='background-color: pink'><div class='cover'>11</div></div>
	</div>
</div>
