<div class="layout">
	<div id="container">
		<div class='element xxl' style='background-color: red'><div class='cover'>11</div></div>
		<div class='element xl' style='background-color: green'><div class='cover'>21</div></div>
		<div class='element xl' style='background-color: green'><div class='cover'>22</div></div>
		<div class='element l' style='background-color: gray'><div class='cover'>12</div></div>
		<div class='element l' style='background-color: gray'><div class='cover'>12</div></div>
		<div class='element xxl' style='background-color: red'><div class='cover'>11</div></div>
	</div>
	<div class="fillers">
	   <div class="filler">Como mola!</div>
	   <div class="filler">Esto es de relleno</div>
	   <div class="filler">Mitca studio~</div>
	   <div class="filler">Que interesante eh?</div>
	   <div class="filler">Hello world</div>
	   <div class="filler">Say my name...</div>
	</div>
</div>
